<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<h3>
			<div>
				Name: <%= @user.name %>
			</div>
			<div>
				Email: <%= @user.email %>
			</div>
			<div>
				Role: <%= @user.role %>
			</div>
			<div>
				Status: <% if @user.verified %>Verified <% else %>Verification Pending <% end %>
			</div>
		</h3>
	</div>
</div>