// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';
$grayMediumLight: #eaeaea;

.table1{
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.checkbox{
  margin-top :-10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

.check-box-verify{
  align:left;
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,textarea{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}
input{
  height: auto !important
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 200px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.desc_format{
  font-size:14px;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  font-family: palantino linotype;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
} 

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


.main {
  min-height:100%
}


input, textarea, .uneditable-input {
  margin-bottom: 15px;
  margin-right: 10px;
  align:center;
  
}

.centered-form {
    text-align:center
}    

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    padding: 0;
  }
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}